.not-found{
    margin-top: 25vh;
    padding-bottom: 40vh;
    text-align: center;
    margin-left: -56px;
    padding-left: 0;
    padding-right: 0;

    .back-button{
        align-items: center;
        border: 1px solid $black;
        border-radius: 0;
        padding: 5px 16px 7px 7px;
    }
    .back-button:hover{
        color: $black;
        border: 1px solid $black;
    }
    h1{
        font-family: 'AlethiaPro-Regular';
        font-weight: 500;
		font-size: 5rem;
        margin-bottom: .25rem;
        line-height: 1;
    }
    h2{
        font-family: 'Barlow';
		font-size: 1.5rem;
        margin-bottom: 2rem;
        line-height: 1.25;
    }
    a{
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1;
        cursor: pointer;
        color: $black;
    }
    img{
        margin-right: .5rem
    }
}