.about{

    .about-desc{
        padding-top: 5.25em;
        font-family: 'AlethiaPro-Regular';
        font-size: 1.5rem;
        line-height: 1.5;
    }
    
    .featured-image{
        width: 100%;
        padding-top: 0em;
        padding-bottom: 1rem;
        margin-top: -56px;
    }

}